header {
	margin: 1em;
	margin-bottom: -5em;
	margin-left: -25em;
}

.logo {
	max-width: 30%;
	margin-left: 12em;
}

#name {
	margin-top: -4em;
	margin-left: -12em;
}

#catch {
	float: left;
	margin-top: -12em;
	margin-left: -15em;
	font-size: x-large;
}

nav {
	max-width: 100%;
	padding-left: 25em;
	padding-right: 25em;
}

main {
	margin-right: 25em;
	margin-left: 25em;
}

footer {
	display: grid;
	padding-top: 1em;
}

#contact {
	grid-column: 1;
	grid-row: 1;
}

#map {
	grid-column: 2;
	grid-row: 1;
}