@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* Small/Phone View ***************/
body {
  background-color: #66D998;
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: #081F4E;
  font-family: 'Press Start 2P', cursive;
}

header {
  display: grid;
  align-items: center;
}

.logo {
	max-width: 100%;
}

#name {
	grid-column: 2;
}

#catch {
	grid-column: 2;
	margin-top: -1em;
}

.announcment {
	display: none;
	background-color: #081F4E;
	padding: 1em;
	border-radius: 25px;
	font-family: 'Press Start 2P', cursive;
	font-size: small;
	text-align: center;
	color: #66D998;
}

#active a {
	background-color: #FBF7F4;
}

nav {
	margin: 0 auto;
	max-width: 760px;
	background-color: #F01B42;
}

.navigation {
	list-style: none;
	padding: 0;
}

.navigation li:first-child {
	display: flex;
	justify-content: center;
}

.navigation li {
	display: none;
}

.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: black;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover {
  color: #FBF7F4;
  background-color: #081F4E;
}

/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
	display: flex;
	justify-content: center;
}

main {
  text-align: center;
}

#city {
  font-size: x-large;
}

#hero {
  max-width: 100%;
  height: auto;
}

.content {
	padding: 1em;
}

.overlap {
	text-align: left;
	margin-bottom: 1em;
	color: #081F4E;
}

#size {
	color: yellow;
	float: left;
	position: absolute;
	top: 36%;
	left: 80%
}

.weather {
	background-color: #66D998;
	padding-top: 10px;
	padding-bottom: 3px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 1em;
	border-radius: 25%;
	opacity: 80%;
	box-shadow: 0px 5px 10px 5px #081F4E;
}

.weather p {
	opacity: 100%;
	font-weight: bold;
}

.weather h2 {
	font-family: 'Press Start 2p', cursive;
	font-size: large;
	opacity: 100%;
	text-align: center;
}

.weather ul {
	list-style: none;
}

#wind {
	display: none;
}

.color {
	color: #F01B42;
	font-weight: bolder;
}

.forecast {
	background-color: #081F4E;
	color: #FBF7F4;
	border-radius: 25px;
	padding: 1em;
	padding-top: 1em;
}

.days {
	display: flex;
	justify-content: center;
}

footer {
  text-align: center;
  background-color: #081F4E;
  color: #FBF7F4;
  border-radius: 25px;
  padding-bottom: 1em;
  font-size: x-large;
}

footer a {
	color: #FBF7F4;
}

.contact {
	padding: 1em;
}

#map {
  max-width: 80%;
  border-radius: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

#filler {
	max-width: 100%;
}