@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

nav {
	margin: 0 auto;
	max-width: 760px;
	background-color: #F01B42;
}
.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: flex;
	justify-content: center;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: black;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover {
  color: #FBF7F4;
  background-color: #081F4E;
}

/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
	display: flex;
	justify-content: center;
}

main {
  text-align: center;
}

h1 {
    color: #F01B42;
    background-color: #081F4E;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    border-radius: 25px;
    padding: 25px;
    text-align: center;
    width: auto;
}

body {
    background-color: #66D998;
    color: #081F4E;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

h2 {
    color: #FBF7F4;
}

div {
    background-color: #F2B705;
}

footer {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    text-align: center;
    background-color:#081F4E;
    color: #FBF7F4;
    border-radius: 25px;
    padding: 25px;
}

ul a {
    font-size: x-large;
}

a:visited {
    color: #FBF7F4;
}

#logo
{
    max-width: 100%;
    height: auto;
}

p a {
    font-size: xx-large;
}

@media (min-width: 50.625em) {    
    footer {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }

    .navigation {
        display: flex;
    }
    
    .navigation li {
        display: block; /* change state in small view */
        flex: 1 1 auto;
    }
    
    .navigation a {
        text-align: center;
    }
    
    .navigation li:first-child {
        display: none;
    }

}

@media (min-width: 67.5em) {

}