@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

h1 {
    color: #F01B42;
    background-color: #081F4E;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    border-radius: 25px;
    padding: 25px;
    text-align: center;
    width: auto;
}

body {
    background-color: #66D998;
    color: #081F4E;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

h2 {
    color: #FBF7F4;
}

div {
    background-color: #F2B705;
}

footer {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color:#F2B705;
    color: #FBF7F4;
    border-radius: 25px;
    padding: 25px;
}

footer a:visited {
    color: #081F4E;
}

#logo
{
    max-width: 100%;
    height: auto;
}

@media (min-width: 50.625em) {    
    footer {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }

}

@media (min-width: 67.5em) {

}