#title {
    width: 80%;
}

img {
    width: 100%;
    height: auto;
    filter: blur(.09em);
}

@media (min-width: 32.5em) {
    .gallery  {
        display: grid;
    }

    .column1 {
        grid-column-start: 1;
        grid-column-start: 1;
        padding-top: 10px;
        box-shadow: none;
    }

    .column2 {
        padding: 15px;
        grid-column-start: 2;
        grid-column-end: 2;
        padding-top: 10px;
        box-shadow: none;
    }
    
    .column3 {
        padding: 10px;
        grid-column-start: 1;
        grid-column-end: 3;
        justify-items: center;
        padding-top: 10px;
        box-shadow: none;
    }
}

@media (min-width: 60em) {
    #title {
        width: 90%;
    }

    .column3 {
        padding: 10px;
        grid-column-start: 3;
        grid-column-end: 3;
    }

    div:hover {
        box-shadow: 10px 10px 10px 10px;
        border-radius: 25px;
    }

    img:hover {
        filter: blur(0em);
    }

}